<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetterPokerTableManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetterPokerTableManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <BetterPokerTableManager.Properties.Settings>
            <setting name="LogLevel" serializeAs="String">
                <value>1</value>
            </setting>
        </BetterPokerTableManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BetterPokerTableManager.Properties.Settings>
            <setting name="DefaultProfileFileName" serializeAs="String">
                <value>Default_1920x1080.json</value>
            </setting>
        </BetterPokerTableManager.Properties.Settings>
    </applicationSettings>
</configuration>